<!DOCTYPE html>
<html>
    <head>
        <title>Flask Music Player</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
    </head>
    <body>
        <div id="nav" style="float:left; width:20%">
            Navigation Bar:<br />
            <ul>
                <li><a href="/">All Tracks</a></li>
                {% block nav %}{% endblock %}
            </ul>
        </div>
        <div id="content" style="float:left; width:80%">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
